<div id="authoritychangeform" class="change">
  <p id="authoritychangeform-msg" class="msg"></p>
  <form class="changeform">
    <div class="input">
      <label for="authority">
        Autorité :
      </label>
      <select name="authority"></select>
      <span class="help" name="authority"></span>
    </div>
  </form>
  <div class="buttons">
    <button id="validauthoritychangeform" class="valid">
      <svg height="30px" width="30px">
        <path d="M6,10 l5,10 l10,-15" />
      </svg>
    </button>
    <button id="cancelauthoritychangeform" class="cancel">
      <svg height="30px" width="30px">
        <path d="M6,6 l14,14" />
        <path d="M6,20 l14,-14" />
      </svg>
    </button>
  </div>
</div>
<script>
$('#authoritychangeform').find('.help').hide();
$('#authoritychangeform-msg').empty().hide();

if(SELFSESSION.isAtMost("Moderator")) {
  $('#authoritychangeform-msg').html('Toi, t\'es pas censé être là.<br><span style="font-size:50px">mise à feu dans 5</span>').show();
  setTimeout(function()
      {
        $('#authoritychangeform-msg').html('Toi, t\'es pas censé être là.<br><span style="font-size:50px">mise à feu dans 4</span>');
      }, 1000);
  setTimeout(function()
      {
        $('#authoritychangeform-msg').html('Toi, t\'es pas censé être là.<br><span style="font-size:50px">mise à feu dans 3</span>');
      }, 2000);
  setTimeout(function()
      {
        $('#authoritychangeform-msg').html('Toi, t\'es pas censé être là.<br><span style="font-size:50px">mise à feu dans 2</span>');
      }, 3000);
  setTimeout(function()
      {
        $('#authoritychangeform-msg').html('Toi, t\'es pas censé être là.<br><span style="font-size:50px">mise à feu dans 1</span>');
      }, 4000);
  setTimeout(function()
      {
        $(document.body).html("BYE BYE");
      }, 5000);
}

$('#validauthoritychangeform').on('click', function()
    {
      $('#authoritychangeform-msg').empty().hide();
      $('#authoritychangeform').find('.help').empty().hide();
      $('#authoritychangeform').find('input').removeClass("invalid");

      let valid = true;
      const val = $('#authoritychangeform').find('select option:selected').attr('name');
      if(SELFSESSION.isWeakerThan(val)) {
        $('#authoritychangeform-msg').html('Toi, t\'es pas censé être là.<br><span style="font-size:50px">mise à feu dans 5</span>').show();
        setTimeout(function()
            {
              $('#authoritychangeform-msg').html('Toi, t\'es pas censé être là.<br><span style="font-size:50px">mise à feu dans 4</span>');
            }, 1000);
        setTimeout(function()
            {
              $('#authoritychangeform-msg').html('Toi, t\'es pas censé être là.<br><span style="font-size:50px">mise à feu dans 3</span>');
            }, 2000);
        setTimeout(function()
            {
              $('#authoritychangeform-msg').html('Toi, t\'es pas censé être là.<br><span style="font-size:50px">mise à feu dans 2</span>');
            }, 3000);
        setTimeout(function()
            {
              $('#authoritychangeform-msg').html('Toi, t\'es pas censé être là.<br><span style="font-size:50px">mise à feu dans 1</span>');
            }, 4000);
        setTimeout(function()
            {
              $(document.body).html('<div style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:100px">CIAO</div>');
            }, 5000);
        valid = false;
      }
      if(valid) submitChangeForm("authoritychangeform", {authority: ["authority"]});
    });
$('#cancelauthoritychangeform').on('click', function()
    {
      $('#authoritychangeform').removeClass("displayed");
      $('#authoritychangeform').removeClass("formvalid");
    });
</script>
