<div id="avatarchangeform" class="change">
  <p id="avatarchangeform-msg" class="msg"></p>
  <form class="changeform">
    <div class="input">
      <label for="avatar">
        Fichier :
      </label>
      <input
      type="file"
      name="avatar"
      accept=".png"
      />
      <span class="help" name="avatar"></span>
    </div>
  </form>
  <div class="buttons">
    <button id="validavatarchangeform" class="valid">
      <svg height="30px" width="30px">
        <path d="M6,10 l5,10 l10,-15" />
      </svg>
    </button>
    <button id="cancelavatarchangeform" class="cancel">
      <svg height="30px" width="30px">
        <path d="M6,6 l14,14" />
        <path d="M6,20 l14,-14" />
      </svg>
    </button>
  </div>
</div>
<script>
$('#avatarchangeform').find('.help').hide();
$('#avatarchangeform-msg').empty().hide();
$('#validavatarchangeform').on('click', function()
    {
      $('#avatarchangeform-msg').empty().hide();
      $('#avatarchangeform').find('.help').empty().hide();
      $('#avatarchangeform-msg').find('input').removeClass("invalid");

      const file = $('#avatarchangeform').find('input[name="avatar"]').prop('files')[0];
      if(file) {
        let img = new Image();
        img.id = "newavatar";
        img.onload = function()
        {
          let valid = true;
          const IMAGE = validate_image(this, file.size);
          if('details' in IMAGE) {
            $('#avatarchangeform').find('.help[name="avatar"]').html(IMAGE.details.join("<br>")).show();
            valid = false;
          }
          if(valid) submitChangeForm("avatarchangeform", {avatar: ["avatar"]});
        };
        document.getElementById('avatarchangeform').appendChild(img);
        img.src = window.URL.createObjectURL(file);
      } else {
        $('#avatarchangeform-msg').html("Veuillez sélectionner un fichier .png").show();
      }
    });
$('#cancelavatarchangeform').on('click', function()
    {
      $("#avatarchangeform").removeClass("displayed");
      $("#avatarchangeform").removeClass("valid");
    });
</script>
