<div id="loginchangeform" class="change">
  <form class="changeform">
    <div class="input">
      <label for="login1">
        Nouveau Login :
      </label>
      <input
             type="text"
             name="login1"
             placeholder="Login"
             required
             />
      <input
             type="text"
             name="login2"
             placeholder="Vérification Login"
             required
             />
    </div>
  </form>
  <div class="buttons">
    <button id="validloginchangeform" class="valid">
      <svg height="30px" width="30px">
        <path d="M6,10 l5,10 l10,-15" />
      </svg>
    </button>
    <button id="cancelloginchangeform" class="cancel">
      <svg height="30px" width="30px">
        <path d="M6,6 l14,14" />
        <path d="M6,20 l14,-14" />
      </svg>
    </button>
  </div>
</div>
<script>
$('#loginchangeform').find('.help').hide();
$('#loginchangeform-msg').empty().hide();
$('#validloginchangeform').on('click', function()
    {
      submitChangeForm('loginchangeform', {login: ["login1", "login2"]});
    });
$('#cancelloginchangeform').on('click', function()
    {
      $("#loginchangeform").removeClass("displayed");
      $("#loginchangeform").removeClass("valid");
    });
</script>
