<div id="passchangeform" class="change">
  <form class="changeform">
    <div class="input">
      <label for="pass1">
        Nouveau Mot de passe :
      </label>
      <input
             type="password"
             name="pass1"
             placeholder="password"
             required
             />
      <input
             type="password"
             name="pass2"
             placeholder="checkpassword"
             required
             />
    </div>
  </form>
  <div class="buttons">
    <button id="validpasschangeform" class="valid">
      <svg height="30px" width="30px">
        <path d="M6,10 l5,10 l10,-15" />
      </svg>
    </button>
    <button id="cancelchangeform" class="cancel">
      <svg height="30px" width="30px">
        <path d="M6,6 l14,14" />
        <path d="M6,20 l14,-14" />
      </svg>
    </button>
  </div>
</div>
<script>
$('#passchangeform').find('.help').hide();
$('#passchangeform-msg').empty().hide();
$('#validpasschangeform').on('click', function()
    {
      submitChangeForm('passchangeform', {pass: ["pass1", "pass2"]});
    });
$('#cancelpasschangeform').on('click', function()
    {
      $("#passchangeform").removeClass("displayed");
      $("#passchangeform").removeClass("valid");
    });
</script>
