<div id="validchangeform">
  <form class="changeform">
    <div class="input">
      <label for="mail">
        Mail :
      </label>
      <input
             type="mail"
             name="mail"
             placeholder="Mail"
             required
             />
    </div>
    <div class="input">
      <label for="pass">
        Mot de Passe :
      </label>
      <input
             type="password"
             name="pass"
             placeholder="password"
             required
             />
    </div>
  </form>
  <div class="buttons">
    <button id="validvalidchangeform" class="valid">
      <svg height="30px" width="30px">
        <path d="M6,10 l5,10 l10,-15" />
      </svg>
    </button>
    <button id="cancelvalidchangeform" class="cancel">
      <svg height="30px" width="30px">
        <path d="M6,6 l14,14" />
        <path d="M6,20 l14,-14" />
      </svg>
    </button>
  </div>
</div>
<script>
$('#validchangeform').find('.help').hide();
$('#validchangeform-msg').empty().hide();
$('#validvalidchangeform').on('click', function()
    {
      const valid = validateForm('validchangeform', {mail: ["mail"], pass: ["pass"]});
      if(valid) {
        //Handle forms
        console.log("valid OK");
        const FORMS = ["avatar", "login", "pass", "authority"];
        FORMS.forEach(function(element, index, array)
            {
              submitForm(element);
            });
      }
    });
$('#cancelvalidchangeform').on('click', function()
    {
      $("#validchangeform").hide();
      $('.change').removeClass("displayed");
      $('#validchangeform').find('input').not(':button, :hidden').val("");
      $('.change').find('input').not(':button, :hidden').val("");
    });
</script>
