:root
{
  --color-new: blue;
  --color-edit: green;
  --color-delete: red;
  --color-end: yellow;
  --color-main: rgb(42,42,42);
  --color-second: rgb(255,223,0);
}

*
{
  font-family: sans;
  margin: 0;
  padding: 0;
}
ul
{
  list-style: none;
}
button
{
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  font-variant: small-caps;
  color: var(--color-main);
  background-color: var(--color-second);
  border: 2px solid var(--color-main);
  border-radius: 5px;
}
button:hover
{
  color: var(--color-second) !important;
  background-color: var(--color-main) !important;
  border-color: var(--color-second) !important;
}
input, textarea
{
  border: 1px solid var(--color-main);
}
input
{
  padding: 5px;
  box-sizing: border-box;
}

#login, #maintitle, #secondtitle
{
  font-family: serif;
  color: var(--color-second);
}
#maintitle
{
  font-variant: small-caps;
  font-size: 30px;
}
#secondtitle
{
  font-size: 20px;
}

html, body
{
  width: 100%;
  height: 100%;
}

div#wrapper
{
  min-height: 100%;
  width: 100%;
  position: relative;
}

header, footer
{
  position: fixed;
  z-index: 1000;
  left: 0;
  width: 100%;
  border: 2px solid black;
  background-color: rgb(42, 42, 42);
  box-sizing: border-box;
}

#headerblock, #footerblock
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

footer
{
  bottom: 0;
  height: 50px;
}

.panel, .loginblock
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formblockholder
{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1998;
}
.shade
{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.35);
}
.formblock
{
  border: 3px solid var(--color-second);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  transform: translate(-50%,-50%);
  background-color: rgb(255,255,255);
}
.signblock
{
  flex-direction: column;
}
.signform h2
{
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}
.loginform, .changeform
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.input
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}
label
{
  margin-bottom: 5px;
}
.input input[type="mail"], .input input[type="password"]
{
  width: 100%;
  box-sizing: border-box;
}
#resetsignin
{
  text-decoration: underline;
  cursor: pointer;
}
#resetsignin:hover
{
  color: blue;
}
input[type="checkbox"]
{
  transform: scale(2,2);
}
.invalid
{
  background-color: rgba(255,0,0, 0.9);
}
.help
{
  font-size: 0.75rem;
}
.buttons
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.change .buttons
{
  margin-top: 0;
}

nav ul
{
  margin-left: 10px;
}
ul.nav
{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
ul.nav li.dropli ul.dropul
{
  width: 100%;
  margin: 0;
  display: none;
  position: absolute;
  left: 0;
  bottom: 100%;
  flex-direction: column;
}
ul.nav li
{
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 0;
  border-style: solid;
  border-color: black;
  border-left-width: 1px;
  border-right-width: 1px;
  box-sizing: border-box;
  background-color: var(--color-main);
}
ul.nav li.dropli
{
  position: relative;
}
ul.nav li.dropli ul.dropul li
{
  width: 100%;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
ul.nav li:first-child
{
  border-left-width: 0;
}
ul.nav li:last-child
{
  border-right-width: 0;
}
ul.nav li.dropli ul.dropul li:first-child
{
  border-top-width: 0;
}
ul.nav li.dropli ul.dropul li:last-child
{
  border-bottom-width: 0;
}
ul.nav li span.outer
{
  padding-left: 5px;
  padding-right: 5px;
  border: 0;
  box-sizing: border-box;
}
ul.nav li span.inner
{
  color: var(--color-second);
  display: inline-block;
  height: 100%;
  text-align: center;
  border: 2px solid transparent;
  border-bottom-color: black;
  box-sizing: border-box;
}
ul.nav li.dropli ul.dropul li span.inner
{
  border-bottom-color: transparent;
  border-left-color: black;
}
ul.nav li:hover span.inner
{
  color: black;
  background-color: var(--color-second);
  border-top-color: black;
}
ul.nav li.dropli:hover ul li span.inner
{
  background-color: transparent;
  border-top-color: transparent;
}
ul.nav li.dropli ul.dropul li:hover span.inner
{
  color: black;
  background-color: var(--color-second);
  border-right-color: black;
}
ul.nav li.dropli:hover ul.dropul, #pageblock ul li ul.dropul:hover
{
  display: flex;
}

#userinfo
{
  cursor: pointer;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  mrrgin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#userinfo:hover
{
  color: var(--color-main);
  text-decoration: underline;
  background-color: var(--color-second);
}
#userinfo #login
{
  color: var(--color-second);
}
#userinfo:hover #login
{
  color: var(--color-main);
}
.avatar
{
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 10%;
}
.signbutton, .valid, .cancel
{
  box-sizing: border-box;
}
.signbutton:hover
{
  text-decoration: underline;
}
#signin
{
  background-color: var(--color-new);
}
#signup
{
  background-color: var(--color-edit);
}
#signout
{
  height: 45px;
  width: 45px;
  background-color: var(--color-delete);
}
#signout svg path
{
  stroke: var(--color-main);
  stroke-width: 4;
  fill: none;
}
#signout:hover svg path
{
  stroke: var(--color-second);
}

.valid, .cancel
{
  height: 30px;
  width: 30px;
}
.valid
{
  background-color: var(--color-edit);
}
.cancel
{
  background-color: var(--color-delete);
}
.valid svg path, .cancel svg path
{
  stroke: black;
  stroke-width: 4;
  fill: none;
}
.valid:hover svg path, .cancel:hover svg path
{
  stroke: white;
}

div#main-container
{
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100% - 70px - 50px);
  padding-top: 70px;
  padding-bottom: 50px;
}

#FEEDME
{
  width: 100%;
  height: 100%;
}

#userinfoblock
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#panelblock
{
  width: 100%;
}
#panelblock ul
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#infoblock ul
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#infoblock ul li
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#infoblock .outerinfo
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#infoblock .innerinfo
{
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#infoblock .innerinfo strong
{
  display: inline-block;
  width: 100%;
}
#userinfoblock .avatar
{
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 10%;
}
.change
{
  display: none;
  background-color: rgba(0,0,0, 0.1);
  margin-bottom: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.change.displayed
{
  display: block;
  width: 100%;
}
.formvalid
{
  text-align: center;
  background-color: var(--color-edit);
}
.formerror
{
  text-align: center;
  background-color: var(--color-delete);
}

.hidden
{
  visibility: hidden;
}

.blink
{
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
}
@keyframes blink
{
  0% {
    background-color: rgba(255,255, 0, 0);
  }
  50% {
    background-color: rgba(255,255, 0, 1);
  }
  100% {
    background-color: rgba(255,255, 0, 0);
  }
}

#stories
{
  width: 90%;
  margin: auto;
}

.story
{
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
  background-color: rgba(255,223,0, 0.2);
  box-shadow: 0 0 20px rgba(0,0,0, 1);
}

.storytitle.storytitlemain
{
  color: var(--color-second);
  text-shadow: -1px -1px 0 var(--color-main), -1px 0 0 var(--color-main), -1px 1px 0 var(--color-main), 0 -1px 0 var(--color-main), 0 0 0 var(--color-main), 0 1px 0 var(--color-main), 1px -1px 0 var(--color-main), 1px 0 0 var(--color-main), 1px 1px 0 var(--color-main);
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
}
.storytitle
{
  text-align: center;
  font-family: serif;
  font-size: 30px;
}

.storycontent
{
  white-space: pre-wrap;
  text-align: justify;
  font-size: 20px;
  padding: 5px 20px;
}
.storyblock
{
  position: relative;
  padding-bottom: 10px;
}
.storyblock.storycandidate
{
  position: relative;
  padding-bottom: 0;
  margin-bottom: 10px;
}
.storyblock.storyblockmain
{
  margin-bottom: 20px;
  background-color: rgba(0,0,0, 0.1);
  background-color: rgb(230,230,230);
  box-shadow: 0 0 10px rgba(0,0,0, 0.2);
  box-shadow: 0 0 10px rgb(204,204,204);
}
.storyreveal
{
  cursor: pointer;
  text-align: center;
  background-color: rgba(0,0,0, 0.1);
  background-color: rgb(230,230,230);
  box-shadow: 0 0 10px rgba(0,0,0, 0.2);
  box-shadow: 0 0 10px rgb(204,204,204);
}
.storyreveal:hover .cross
{
  animation: reveal;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.story .storyactions,
.story .storycandidates,
.story .storytoolbar
{
  display: none;
}
.story.active .storyactions,
.story.active .storycandidates,
.story.active .storytoolbar
{
  display: block;
}
.storyactions .storyblock:nth-child(even)
{
  background-color: rgba(0,0,0, 0.05);
  background-color: rgb(242,242,242);
}

.storyblock:hover
{
  box-shadow: 0 0 10px rgba(0,0,0, 0.5);
  box-shadow: 0 0 10px rgb(128,128,128);
}
.storycommands
{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
}
.storyblock:hover .storycommands
{
  display: block;
}
.storycommands:hover
{
  display: block;
}
.storycommands.active
{
  display: block;
}
.storycommands ul
{
  display: flex;
  flex-direction: column;
  text-align: right;
}
.storycommands li
{
  cursor: pointer;
  color: var(--color-main);
  background-color: var(--color-second);
}
.storycommands li line
{
  stroke: var(--color-main);
  stroke-width: 5;
}
.storycommands li:hover
{
  color: var(--color-second);
  background-color: var(--color-main);
}
.storycommands li:hover line
{
  stroke: var(--color-second);
}

.storytoolbar
{
  margin-top: 20px;
  margin-bottom: 20px;
}
.storytoolbar ul
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.storyform
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.storyform button
{
  background-color: var(--color-second);
  color: var(--color-main);
  border-color: var(--color-main);
}
.storyform .storyformtitle
{
  width: 100%;
  margin-bottom: 10px;
}
.storyform .storyformcontent
{
  width: 100%;
  min-height: 250px;
}
.storyform ul
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.storyform ul li
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.storyform ul li:first-child
{
  border-left-color: transparent;
}
.storyform ul li:last-child
{
  border-right-color: transparent;
}
.storyform .storyformpreview
{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.storyform .storyformpreview.preview
{
  padding: 5px;
  border: 1px solid black;
}
.storytools
{
  margin-top: 20px;
  margin-bottom: 20px;
}
.storytools button
{
  margin: 0;
  border-color: white;
  width: 40px;
  height: 40px;
  background-color: var(--color-second);
  color: var(--color-main);
}

#newstory .formblock
{
  width: 80%;
}

@keyframes reveal
{
  0% {
    fill: rgba(42,42,42, 1);
  }
  50% {
    fill: rgba(42,42,42, 1);
  }
  100% {
    fill: rgba(42,42,42, 0);
  }
}

.new,
button.new
{
  background-color: var(--color-new);
}
.edit,
button.edit
{
  background-color: var(--color-edit);
}
.delete, .end,
button.delete, button.end
{
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
}
.delete,
button.delete
{
  background-color: var(--color-delete);
}
.end,
button.end
{
  background-color: var(--color-end);
}
