<section class="storyform">
  <input
         type="hidden"
         name="action" />
  <input
         type="hidden"
         name="storyref" />
  <input
         type="hidden"
         name="blockref" />
  <input
         class="storyformtitle"
         type="text"
         name="title"
         placeholder="title (optional)" />
  <textarea
         class="storyformcontent"
         name="content"
         placeholder="content"
         ></textarea>
  <button
      class="edit"
      onclick='previewBlock($(this))'>
    Preview
  </button>
  <ul class="storytools">
    <li>
      <button onclick='addMark($(this), "bold")'>
        <b>B</b>
      </button>
      <button onclick='addMark($(this), "italic")'>
        <i>I</i>
      </button>
      <button onclick='addMark($(this), "underline")'>
        <u>U</u>
      </button>
    </li>
    <li>
      <button onclick='addMark($(this), "size")'>
        size
      </button>
      <button>
        Italic
      </button>
      <button>
        Underline
      </button>
    </li>
    <li>
      <button>
        Bold
      </button>
      <button>
        Italic
      </button>
      <button>
        Underline
      </button>
    </li>
  </ul>
  <div class="storyformpreview"></div>
  <div class="input">
  <button
      class="new"
      onclick='submitBlock($(this))'>
    Submit
  </button>
  <button
      class="delete"
      onclick='cancelBlock($(this))'>
    Cancel
  </button>
  </div>
</section>
