<div id="userinfoblock" class="feedme">
  <!--
  <aside id="panelblock">
    <ul class="nav">
      <li>
        <span class="outer">
          <span class="inner">
            Info
          </span>
        </span>
      </li>
      <li>
        <span class="outer">
          <span class="inner">
            Histoires
          </span>
        </span>
      </li>
      <li>
        <span class="outer">
          <span class="inner">
            Suivis
          </span>
        </span>
      </li>
    </ul>
  </aside>
  -->
  <main id="infoblock">
    <ul>
      <li>
        <section>
        <div class="outerinfo">
          <div class="innerinfo">
            <strong>
              Avatar :
            </strong>
            <span id="avatarinfo">
              <img class="avatar" src="media/images/avatars/avatar_default.png" alt="avatar">
            </span>
          </div>
          <!--
          <button id="avatarchange">
            Changer
          </button>
          -->
        </div>
        </section>
      </li>
      <li>
        <section>
        <div class="outerinfo">
          <div class="innerinfo">
            <strong>
              Login :
            </strong>
            <span id="logininfo">
              LOGIN
            </span>
          </div>
          <button id="loginchange">
            Changer
          </button>
        </div>
        </section>
      </li>
      <li>
        <section>
        <div class="outerinfo">
          <div class="innerinfo">
            <strong>
              Authorité :
            </strong>
            <span id="authorityinfo">
              AUTHORITY
            </span>
          </div>
          <button id="authoritychange">
            Changer
          </button>
        </div>
        </section>
      </li>
      <li>
        <section>
        <div class="outerinfo">
          <div class="innerinfo">
            <strong>
              Mot de Passe :
            </strong>
            <span id="passinfo">
              ********
            </span>
          </div>
          <button id="passchange">
            Changer
          </button>
        </div>
        </section>
      </li>
      <li id="validchange">
      </li>
    </ul>
  </main>
</div>
