<section id="signblockin" class="signblockholder formblockholder">
  <div class="shade"></div>
  <div class="signform formblock">
    <h2>
      Se connecter
    </h2>
    <div id="signformin">
      <form class="loginform">
        <div class="input">
          <label for="mail1">
            Mail :
          </label>
          <input
                 type="mail"
                 name="mail1"
                 placeholder="Mail"
                 required
                 />
        </div>
        <div class="input">
          <label for="pass1">
            Mot de passe :
          </label>
          <input
                 type="password"
                 name="pass1"
                 placeholder="Password"
                 required
                 />
          <span id="resetsignin">
            mot de passe oublié
          </span>
        </div>
        <div class="input">
          <label for="cookie">
            Se souvenir de moi :
          </label>
          <input type="checkbox" name="cookie" value="Se souvenir de moi" />
        </div>
      </form>
      <div class="buttons">
        <button id="validsignin" class="valid">
          <svg height="30px" width="30px">
            <path d="M6,10 l5,10 l10,-15" />
          </svg>
        </button>
        <button id="cancelsignin" class="cancel">
          <svg height="30px" width="30px">
            <path d="M6,6 l14,14" />
            <path d="M6,20 l14,-14" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <script>
$('#validsignin').on('click', function()
    {
      submitSignForm('signformin', {mail: ["mail1"], pass: ["pass1"]});
    });
$('#resetsignin').on('click', function()
    {
      if($('#signblockresetpass').length===0) {
        $.ajax({
          url: 'sign/resetpass',
          method: 'GET',
          beforeSend: function(jqXHR, settings)
          {
            jqXHR.setRequestHeader('from-within', 'from-within');
          },
          complete: function(jqXHR, textStatus){},
          error: function(jqXHR, textStatus, errorThrown)
          {
            console.error(errorThrown);
          },
          success: function(data, textStatus, jqXHR)
          {
            $(document.body).append(data);
            $('.signblock').hide();
            $('#signblockin').show();
            $('#signblockresetpass').show();
          }
        });
      } else {
        $('#signformresetpass').find('.help').remove();
        $('#signformresetpass').find('input').not(':button,:hidden').val("");
        $('#signformresetpass').find('input').removeClass("invalid");
        $('.signblock').hide();
        $('#signblockin').show();
        $('#signblockresetpass').show();
      }
    })
$('#cancelsignin').on('click', function()
    {
      $('.signblockholder').hide();
    });
$('#signblockin').children('.shade').on('click', function()
    {
      $('.signblockholder').hide();
    });
  </script>
</section>
