<section id="signblockresetpass" class="signblockholder formblockholder">
  <div class="shade"></div>
  <div class="signform formblock">
    <h2>
      Reset Password
    </h2>
    <div id="signformresetpass">
      <form class="loginform">
        <div class="input">
          <label for="mail1">
            Mail :
          </label>
          <input
                 type="mail"
                 name="mail1"
                 placeholder="Mail"
                 required
                 />
          <input
                 type="mail"
                 name="mail2"
                 placeholder="Confirm Mail"
                 required
                 />
        </div>
      </form>
      <div class="buttons">
        <button id="validsignformresetpass" class="valid">
          <svg height="30px" width="30px">
            <path d="M6,10 l5,10 l10,-15" />
          </svg>
        </button>
        <button id="cancelsignformresetpass" class="cancel">
          <svg height="30px" width="30px">
            <path d="M6,6 l14,14" />
            <path d="M6,20 l14,-14" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <script>
$('#signformresetpass').find('.help').hide();
$('#signformresetpass-msg').empty().hide();
$('#validsignformresetpass').on('click', function()
    {
      submitSignForm('signformresetpass', {mail: ["mail1", "mail2"]});
    });
$('#cancelsignformresetpass').on('click', function()
    {
      const resetView = function()
      {
        $('#signformin').find('.help').remove();
        $('#signformin').find('input').not(':button,:hidden,:submit').val("");
        $('#signformin').find('input').removeClass("invalid");
        $('.signblockholder').hide();
        $('#signblockin').show();
      }
      if($('#signblockin').length===0) {
        $.ajax({
          url: 'sign/in',
          method: 'GET',
          beforeSend: function(jqXHR, settings)
          {
            jqXHR.setRequestHeader('from-within', 'from-within');
          },
          complete: function(jqXHR, textStatus){},
          error: function(jqXHR, textStatus, errorThrown)
          {
            console.error(errorThrown);
          },
          success: function(data, textStatus, jqXHR)
          {
            $(document.body).prepend(data);
            resetView();
          }
        });
      } else {
        resetView();
      }
    });
$('#signblockresetpass').children('.shade').on('click', function()
    {
      $('#signblockresetpass').hide();
    });
  </script>
</section>
