<section id="signblockup" class="signblockholder formblockholder">
  <div class="shade"></div>
  <div class="signform formblock">
    <h2>
      S'enregistrer
    </h2>
    <div id="signformup">
      <form class="loginform">
        <div class="input">
          <label for="mail1">
            Mail :
          </label>
          <input
                 type="mail"
                 name="mail1"
                 placeholder="Mail"
                 required
                 />
          <input
                 type="mail"
                 name="mail2"
                 placeholder="Confirm Mail"
                 required
                 />
        </div>
        <div class="input">
          <label for="pass1">
            Mot de passe :
          </label>
          <input
                 type="password"
                 name="pass1"
                 placeholder="Password"
                 required
                 />
          <input
                 type="password"
                 name="pass2"
                 placeholder="Confirm Password"
                 required
                 />
        </div>
        <div class="input">
          <label for="cookie">
            Se souvenir de moi :
          </label>
          <input type="checkbox" name="cookie" value="Se souvenir de moi" />
        </div>
      </form>
      <div class="buttons">
        <button id="validsignup" class="valid">
          <svg height="30px" width="30px">
            <path d="M6,10 l5,10 l10,-15" />
          </svg>
        </button>
        <button id="cancelsignup" class="cancel">
          <svg height="30px" width="30px">
            <path d="M6,6 l14,14" />
            <path d="M6,20 l14,-14" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <script>
$('#validsignup').on('click', function()
    {
      submitSignForm('signformup', {mail: ["mail1", "mail2"], pass: ["pass1", "pass2"]});
    });
$('#cancelsignup').on('click', function()
    {
      $('.signblockholder').hide();
    });
$('#signblockup').children('.shade').on('click', function()
    {
      $('.signblockholder').hide();
    });
  </script>
</section>
