<div id="loggedpanel" class="panel">
  <div id="userinfo">
    <img id="avatar" class="avatar" src="media/images/avatars/avatar_default.png" alt="avatar" />
    <span id="login">
      LOGIN
    </span>
  </div>
  <button id="signout" class="signbutton">
    <svg width="30px" height="30px">
      <path d="M15,0 v15" />
      <path d="M10,5 a 12 12 1 1 0 10,0" />
    </svg>
  </button>
</div>
<script>
$('#userinfo').on('click', function()
    {
      //GET user panel
      if(SELFSESSION) getUserPanel(SELFSESSION.getId());
    });
$('#signout').on('click', function()
    {
      SELFSESSION = null;
      getLoginButtons();
      getMainPage();
    });
</script>
