<div id="logpanel" class="panel">
  <button id="signin" class="signbutton">
    Se connecter
  </button>
  <button id="signup" class="signbutton">
    S'enregistrer
  </button>
</div>
<script>
$('#signin').on('click', function()
    {
      if($('#signblockin').length===0) {
        $.ajax({
          url: 'sign/in',
          method: 'GET',
          beforeSend: function(jqXHR, settings)
          {
            jqXHR.setRequestHeader('from-within', 'from-within');
          },
          complete: function(jqXHR, textStatus){},
          error: function(jqXHR, textStatus, errorThrown)
          {
            console.error(errorThrown);
          },
          success: function(data, textStatus, jqXHR)
          {
            $(document.body).prepend(data);
          }
        });
      } else {
        $('.loginblock').hide();
        $('#signinform').find('.help').remove();
        $('#signinform').find('input').not(':button,:hidden').val("");
        $('#signinform').find('input').removeClass("invalid");
        $('#signblockin').show();
      }
    });
$('#signup').on('click', function()
    {
      if($('#signblockup').length===0) {
        $.ajax({
          url: 'sign/up',
          method: 'GET',
          beforeSend: function(jqXHR, settings)
          {
            jqXHR.setRequestHeader('from-within', 'from-within');
          },
          complete: function(jqXHR, textStatus){},
          error: function(jqXHR, textStatus, errorThrown)
          {
            console.error(errorThrown);
          },
          success: function(data, textStatus, jqXHR)
          {
            $(document.body).prepend(data);
          }
        });
      } else {
        $('.loginblock').hide();
        $('#signformup').find('.help').remove();
        $('#signformup').find('input').not(':button,:hidden').val("");
        $('#signformup').find('input').removeClass("invalid");
        $('#signblockup').show();
      }
    });
</script>
